# Java
*.class
*.log
hs_err_pid*
replay_pid*

# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse / STS
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# NO ignoramos mvnw, mvnw.cmd ni .mvn/
# NO ignoramos application.properties porque lo compartiremos